<div class="container">
    
    <div class="section-heading scrollpoint sp-effect3">
        <h1>{{aboutTitle}}</h1>
        <div class="divider"></div>
        <p>{{about.text1}}</p>
        <p>{{about.text2}}</p>
        <p>{{about.text3}}</p>
        <p>{{about.text4}}</p>
        <p><a href="https://docs.google.com/spreadsheets/d/1DWw4kbVw_OTzM-gqFU48I_6GB96naFKLVjUA12NWKFo/edit" target="_blank">Google Spreadsheet</a></p>
        <p>{{about.text5}}</p>
        <p><a href="http://www.fdma.go.jp/bousai_manual/index.html" target="_blank">http://www.fdma.go.jp/bousai_manual/index.html</a></p>
    </div>
</div>

