
  <div class="container">
    <div class="section-heading scrollpoint sp-effect3">
      <h1>{{afterTitle}}</h1>
      <div class="divider"></div>
    </div>
    <div class="row">
    <h2>{{after.subtitle1}}</h2>
    <p>{{after.text1}}</p>
    <ul>
      <li>{{after.list1_1}}</li>
      <li>{{after.list1_2}}</li>
    </ul>

    <h2>{{after.subtitle2}}</h2>
    <p>{{after.text2}}</p>
    <ul>
      <li>{{after.list2_1}}</li>
      <li>{{after.list2_2}}</li>
      <li>{{after.list2_3}}</li>
      <li>{{after.list2_4}}</li>
      <li>{{after.list2_5}}</li>
    </ul>

    <h2>{{after.subtitle3}}</h2>
    <p>{{after.text3}}</p>
    <ul>
      <li>{{after.list3_1}}</li>
      <li>{{after.list3_2}}</li>
      <li>{{after.list3_3}}</li>
    </ul>

    <h2>{{after.subtitle4}}</h2>
    <p>{{after.text4}}</p>
    <ul>
      <li>{{after.list4_1}}</li>
      <li>{{after.list4_2}}</li>
      <li>{{after.list4_3}}</li>

    <h2>{{after.subtitle5}}</h2>
    <p>{{after.text5}}</p>
    <ul>
      <li>{{after.list5_1}}</li>
      <li>{{after.list5_2}}</li>
      <li>{{after.list5_3}}</li>
    </ul>

    <h2>{{after.subtitle6}}</h2>
    <p>{{after.text6}}</p>
    <ul>
      <li>{{after.list6_1}}</li>
      <li>{{after.list6_2}}</li>
      <li>{{after.list6_3}}</li>
    </ul>

    <h2>{{after.subtitle7}}</h2>
    <p>{{after.text7}}</p>
    <ul>
      <li>{{after.list7_1}}</li>
      <li>{{after.list7_2}}</li>
      <li>{{after.list7_3}}</li>
    </ul>

    <h2>{{after.subtitle8}}</h2>
    <p>{{after.text8}}</p>
    <ul>
      <li>{{after.list8_1}}</li>
      <li>{{after.list8_2}}</li>
      <li>{{after.list8_3}}</li>
      <li>{{after.list8_4}}</li>
    </ul>

    <h2>{{after.subtitle9}}</h2>
    <p>{{after.text9}}</p>
    <ul>
      <li>{{after.list9_1}}</li>
      <li>{{after.list9_2}}</li>
    </ul>

    </div>
  </div>
