	<script src="../assets/js/jquery-1.11.1.min.js"></script>
	<script src="../assets/js/bootstrap.min.js"></script>
	<script src="../assets/js/slick.min.js"></script>
	<script src="../assets/js/placeholdem.min.js"></script>
	<script src="../assets/js/rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
	<script src="../assets/js/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
	<script src="../assets/js/waypoints.min.js"></script>
	<script src="../assets/js/scripts.js"></script>
	<script>
		$(document).ready(function() {
			appMaster.preLoader();
			var langs = [{{languageSettings}}];
      var html = '';
			for (var i = 0; i < langs.length; i++) {
				var path = langs[i].split(':')[0],
					name = langs[i].split(':')[1];
				html += '<li class="col-md-2 col-sm-3 col-xs-6"><a href="../'+ path + '/">'+ name +'</a></li>'
			}
      $('#langs').append(html)
		});
	</script>