
  <div class="container">
    <div class="section-heading scrollpoint sp-effect3">
      <h1>{{outdoorTitle}}</h1>
      <div class="divider"></div>
    </div>
    <div class="row">
    <h2>{{outdoor.subtitle1}}</h2>
    <p>{{outdoor.text1}}</p>
    <ul>
      <li>{{outdoor.list1_1}}</li>
      <li>{{outdoor.list1_2}}</li>
      <li>{{outdoor.list1_3}}</li>
      <li>{{outdoor.list1_4}}</li>
    </ul>
    
    <h2>{{outdoor.subtitle2}}</h2>
    <p>{{outdoor.text2}}</p>
    <ul>
      <li>{{outdoor.list2_1}}</li>
      <li>{{outdoor.list2_2}}</li>
    </ul>

    <h2>{{outdoor.subtitle3}}</h2>
    <p>{{outdoor.text3}}</p>
    <ul>
      <li>{{outdoor.list3_1}}</li>
      <li>{{outdoor.list3_2}}</li>
      <li>{{outdoor.list3_3}}</li>
      <li>{{outdoor.list3_4}}</li>
    </ul>
    <h2>{{outdoor.subtitle4}}</h2>
    <p>{{outdoor.text4}}</p>
    <ul>
      <li>{{outdoor.list4_1}}</li>
    </ul>
    
    <h2>{{outdoor.subtitle5}}</h2>
    <p>{{outdoor.text5}}</p>
    <ul>
      <li>{{outdoor.list5_1}}</li>
      <li>{{outdoor.list5_2}}</li>
    </ul>
    

    </div>
  </div>
