
  <div class="container">
    <div class="section-heading scrollpoint sp-effect3">
      <h1>{{indoorTitle}}</h1>
      <div class="divider"></div>
    </div>
    <div class="row">
      <h2>{{indoor.subtitle1}}</h2>
      <p>{{indoor.text1}}</p>
      <ul>
        <li>{{indoor.list1_1}}</li>
        <li>{{indoor.list1_2}}</li>
        <li>{{indoor.list1_3}}</li>
        <li>{{indoor.list1_4}}</li>
      </ul>

      <h2>{{indoor.subtitle2}}</h2>
      <p>{{indoor.text2}}</p>
      <ul>
        <li>{{indoor.list2_1}}</li>
        <li>{{indoor.list2_2}}</li>
        <li>{{indoor.list2_3}}</li>
      </ul>

      <h2>{{indoor.subtitle3}}</h2>
      <p>{{indoor.text3}}</p>
      <ul>
        <li>{{indoor.list3_1}}</li>
        <li>{{indoor.list3_2}}</li>
        <li>{{indoor.list3_3}}</li>
        <li>{{indoor.list3_4}}</li>
      </ul>

      <h2>{{indoor.subtitle4}}</h2>
      <p>{{indoor.text4}}</p>
      <ul>
        <li>{{indoor.list4_1}}</li>
        <li>{{indoor.list4_2}}</li>
        <li>{{indoor.list4_3}}</li>
        <li>{{indoor.list4_4}}</li>
      </ul>

      <h2>{{indoor.subtitle5}}</h2>
      <p>{{indoor.text5}}</p>
      <ul>
        <li>{{indoor.list5_1}}</li>
        <li>{{indoor.list5_2}}</li>
        <li>{{indoor.list5_3}}</li>
      </ul>

      <h2>{{indoor.subtitle6}}</h2>
      <p>{{indoor.text6}}</p>
      <ul>
        <li>{{indoor.list6_1}}</li>
        <li>{{indoor.list6_2}}</li>
        <li>{{indoor.list6_3}}</li>
        <li>{{indoor.list6_4}}</li>
      </ul>

      <h2>{{indoor.subtitle7}}</h2>
      <p>{{indoor.text7}}</p>
      <ul>
        <li>{{indoor.list7_1}}</li>
        <li>{{indoor.list7_2}}</li>
        <li>{{indoor.list7_3}}</li>
        <li>{{indoor.list7_4}}</li>
      </ul>

      <h2>{{indoor.subtitle8}}</h2>
      <p>{{indoor.text8}}</p>
      <ul>
        <li>{{indoor.list8_1}}</li>
        <li>{{indoor.list8_2}}</li>
        <li>{{indoor.list8_3}}</li>
        <li>{{indoor.list8_4}}</li>
      </ul>

      <h2>{{indoor.subtitle9}}</h2>
      <p>{{indoor.text9}}</p>
      <ul>
        <li>{{indoor.list9_1}}</li>
        <li>{{indoor.list9_2}}</li>
        <li>{{indoor.list9_3}}</li>
        <li>{{indoor.list9_4}}</li>
      </ul>

      <h2>{{indoor.subtitle10}}</h2>
      <p>{{indoor.text10}}</p>
      <ul>
        <li>{{indoor.list10_1}}</li>
        <li>{{indoor.list10_2}}</li>
        <li>{{indoor.list10_3}}</li>
      </ul>

      <h2>{{indoor.subtitle11}}</h2>
      <p>{{indoor.text11}}</p>
      <ul>
        <li>{{indoor.list11_1}}</li>
        <li>{{indoor.list11_2}}</li>
      </ul>
      
    </div>
  </div>
