

  <div class="container">
    <div class="section-heading scrollpoint sp-effect3">
      <h1>{{vehicleTitle}}</h1>
      <div class="divider"></div>
    </div>
    <div class="row">
    <h2>{{vehicle.subtitle1}}</h2>
    <p>{{vehicle.text1}}</p>
    <ul>
      <li>{{vehicle.list1_1}}</li>
      <li>{{vehicle.list1_2}}</li>
      <li>{{vehicle.list1_3}}</li>
      <li>{{vehicle.list1_4}}</li>
      <li>{{vehicle.list1_5}}</li>
      <li>{{vehicle.list1_6}}</li>
      <li>{{vehicle.list1_7}}</li>
      <li>{{vehicle.list1_8}}</li>
      <li>{{vehicle.list1_9}}</li>
    </ul>

    <h2>{{vehicle.subtitle2}}</h2>
    <p>{{vehicle.text2}}</p>
    <ul>
      <li>{{vehicle.list2_1}}</li>
      <li>{{vehicle.list2_2}}</li>
      <li>{{vehicle.list2_3}}</li>
    </ul>

    <h2>{{vehicle.subtitle3}}</h2>
    <p>{{vehicle.text3}}</p>
    <ul>
      <li>{{vehicle.list3_1}}</li>
      <li>{{vehicle.list3_2}}</li>
    </ul>

    <h2>{{vehicle.subtitle4}}</h2>
    <p>{{vehicle.text4}}</p>
    <ul>
      <li>{{vehicle.list4_1}}</li>
      <li>{{vehicle.list4_2}}</li>
      <li>{{vehicle.list4_3}}</li>
      <li>{{vehicle.list4_4}}</li>
      <li>{{vehicle.list4_5}}</li>
    </ul>

    <h2>{{vehicle.subtitle5}}</h2>
    <p>{{vehicle.text5}}</p>
    <ul>
      <li>{{vehicle.list5_1}}</li>
      <li>{{vehicle.list5_2}}</li>
      <li>{{vehicle.list5_3}}</li>
    </ul>

    </div>
  </div>
